<div class="span3 process-nav">
   <div class="well sidebar-nav">
     
     
     
     <% if current_user.has_role?(:premium) %>
     <!-- Premium user has access to all features -->
       <%= get_process_nav( :project_setup , params ).html_safe %> 
       <%= get_process_nav( :project_management , params ).html_safe %> 
       <%= get_process_nav( :collaboration , params ).html_safe %> 
     <% end %>
     
     
     <% if current_user.has_role?(:standard) %>
     <!-- Standard user can only collaborate (passive) -->
       <%= get_process_nav( :collaboration , params ).html_safe %> 
       <%#= get_process_nav( :submission_grading , params ).html_safe %> 
     <% end %>
     
     
     <% if current_user.has_role?(:student) %>
        <%= get_process_nav( :student , params ).html_safe %> 
      <% end %>
     
     
     <!-- <ul class="nav nav-list">

       <li class="nav-header">School Admin</li>
       <li>Add Student</li>
       <li>Add Teacher</li>


            
     </ul> -->
   </div><!--/.well -->
 </div><!--/span-->