
<div class="span9 content">
  <%= create_guide("Upload Pictures", 
        "Upload Pictures for project:  <b>#{@project.title}</b>").html_safe %>
  
  
  
    
  <%= create_breadcrumb(@breadcrumbs).html_safe %>
  
  
  <div class="row-fluid">

    
      <%= form_for @new_picture, :url => project_pictures_url(@project) , 
                :html => {:class=> "well form-search",
                  :id => 'upload_picture' }  do |f| %>
        <%= hidden_field_tag 'is_original', 
                ORIGINAL_PICTURE  %>
        <%= hidden_field_tag 'from_project_owner', 
                1  %>
        <%= transloadit :neopilipoto_image_store %>
        <%= f.file_field :original_image_url, :class => "input-medium search-query transloadit-input" , 
                  :multiple => "multiple", :style=>"width:200px;" %>
                  <br />
                  <br />
        <button type="submit" class=" hide btn submit-button">Upload</button>
        <p class="help-inline">You can upload multiple images at once.</p>
      
      <% end %>
    
      <% content_for :additional_js do %>
        <script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>
        <script type="text/javascript">
           // We call .transloadit() after the DOM is initialized:
           $(document).ready(function() {
             $('#upload_picture').transloadit({
               wait : true, 
               pollTimeout : 15000,
               processZeroFiles : false,
               onStart : function(assembly){
               }
             });
           });
        </script>
      <% end %>
  
    
    

    
  </div><!--/row-->


  <!-- display the uploaded image here!  -->
  <div class="span12">
    
    <ul class="thumbnails" id="uploaded_image_container">
      <% @pictures.each do |picture| %>
        <%= render :partial => "pictures/submitted_picture_display" , :locals => {
          :picture => picture
        }%>
      
      
   

      <% end %>
    </ul>
  </div>
  
</div><!--/span-->
